/* Desktop Resolution */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Adicione esta linha para garantir que as bordas e o preenchimento sejam incluídos nas dimensões */
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #AD3C6E;
}

#div-user {
    /*background-color: #AD3C6E;*/
    color: white;
    display: inline-flex;
    position: absolute;
    right: 0;
    padding: 20px 20px;
}

#div-logo img{
    padding: 20px 10px;
    width: 170px;
    height: auto;
}
#user-name {
    margin-right: 10px;
    margin: 20px;
}

#img-user {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 5px;
}

.header-main{
    background-color: #AD3C6E;
    padding: 5px;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;

}
.card-main {
    border: 3px solid #DC9CB8;
    padding: 10px; /* Reduzindo o padding */
    max-width: 500px; /* Definindo uma largura máxima menor */
    width: 100%;
    border-radius: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.hh{
    padding: 5px;
}
input{
    width: 300px;
    height: 25px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}
button[type="submit"] {
    background-color:  #AD3C6E;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
